// Colors
$primary: navy;
// #2baa6d; 
// #51ce92;
$secondary: darkgoldenrod;
// #f5bc1a;
$black: #22223B;
$white: #ffffff;
$white-offset: #f6f7ff;
$highlight-offset: #ffeeef;
$steel: #5C5A5A;
$hint: #9797a0;
$dark: $black;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 5%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: 'Inter', Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Nunito', Helvetica, Arial, sans-serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 5%);
$sub-footer-text-color: $white;

// Pattern
@import 'libraries/patterns';

@import 'libraries/fonts';

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library
@import 'bootstrap/utilities/float';
@import 'bootstrap/forms';
@import 'bootstrap/badge';
@import 'bootstrap/input-group';
@import 'bootstrap/spinners';
@import 'bootstrap/nav';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
/*! purgecss start ignore */
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/announcement';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/feature';
@import 'components/social';
@import 'components/carousel';
@import 'components/donate';
@import 'components/page-icon';
@import 'components/sponsors';
@import 'components/tags';
@import 'components/carbon';
@import 'components/meta';
@import 'components/expand';
@import 'components/nav';
@import 'components/pill';
@import 'components/checkbox';
@import 'components/climate';
@import 'components/testimonial';
@import 'components/homesub';
/*! purgecss end ignore */

// Pages
@import 'pages/home';
@import 'pages/brand';
@import 'pages/donate';
@import 'pages/subscribe';
@import 'pages/team/team-summary';
@import 'pages/team/team-single';
@import 'pages/team/team-list';
@import 'pages/programs/page-programs-single';
@import 'pages/journals/page-journals';
@import 'pages/journals/page-journals-single';
@import 'pages/fellowship/speaker';

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

// Display breakpoints for DEV
{{ if .Site.IsServer }}
body:after {
  color: #000000;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  bottom: 10px;
  width: 200px;
  z-index: 9999;
  border: solid 1px #000000;
  @each $name, $value in $grid-breakpoints {
    @include media-breakpoint-up($name) {
      content: '#{$name} - min-width: #{$value}';
    }
  }
}
{{ end }}