{{ $currentPage := . }}
<div class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="row">
        <div class="col-6 col-md-3">
          <ul>
            <li class="footer-title">
              {{ .Site.Title }}
            </li>
            {{ range .Site.Menus.about }}
            <li class="menu-item-{{ .Name | lower }}{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}">
              <a href="{{.URL}}">
                <span class="">{{ .Pre | safeHTML }}</span>
                {{ .Name }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <ul>
            <li class="footer-title">
              Services
            </li>
            {{ range .Site.Menus.services }}            
            <li class="menu-item-{{ .Name | lower }}{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}">
              <a href="{{.URL}}">
                <span class="">{{ .Pre | safeHTML }}</span>                
                {{ .Name }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <ul>
            <li class="footer-title">
              Resources
            </li>
            {{ range .Site.Menus.resources }}
            <li class="menu-item-{{ .Name | lower }}{{ if eq $currentPage.RelPermalink .URL }} active{{ end }}">
              <a href="{{.URL}}">
                <span class="">{{ .Pre | safeHTML }}</span>
                {{ .Name }}
              </a>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="col-6 col-md-3" style="text-align: center;">
          <a href="/" target="_blank" rel="noopener">
            <img src="/icons/main.png" alt="{{ .Title }}">
          </a>
        </div>
      </div>
      <p class="footer-copyright mb-0 mt-1">&copy; 2023 SCENAC SEC REG. NO. CN200401598 | DSWD REG. NO. NCR-2004-R-283 | Unit B Block 5 Lot 1 J. Hernandez Street San Antonio Valley 7 Pulang Lupa Dos Las Pinas City Metro Manila
</p>
<!--       <p class="footer-copyright mb-0 mt-0"><a href="https://pantrypoints.com/peers">Made by Pantry Peers</a></p> -->
    </div>
  </div>
</div>
