<h1>
Let's <em>help Senior Citizens</em> in the Philippines!
</h1>

<p id="intro-subtitle">SCENAC is a non-government organization in the Philippines that conducts activities and programs for the welfare of senior citizens.</p>

 <!-- SCENAC Donation General Community is made up of the volunteers who consolidate donations for SCENAC as well as its related organizations such as FINAC and AMURT -->

<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/NtuVQHr58bc" title="What is SCENAC?" allowfullscreen></iframe>
</div>          


<!-- https://www.youtube.com/watch?v=g1uMbxLDPPs -->

<p class="mt-5">Subscribe below to sign up for the events by SCENAC or ask about membership</p>


<div class="home-subscribe pb-5" id="subscribe-form">
<!--     <form action="http://localhost:4001/api/email" method="POST" accept-charset="UTF-8" >        -->
    <!-- <form action="https://formcarry.com/s/g8cpnNRtNk" method="POST" accept-charset="UTF-8" >     -->

    <!-- <form method="post" action="https://formcarry.com/s/g8cpnNRtNk"> -->
    <form method="post" action="https://hub.pantrypoints.com/api/email">
        <div class="form-group">
            <label for="field_0">Email address</label>
            <input id="email" name="email[email]" type="email" class="form-control" aria-describedby="emailHelp" placeholder required="required">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. <a href="/privacy" target="_blank">Privacy -></a></small> -->
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="name">Name</label>
<!--                     <input id="name" name="email[name]" type="text" class="form-control" placeholder required="required"> -->
                    <input id="email[name]" name="name" type="text" class="form-control" placeholder required="required">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="city">Location (City and Barangay)</label>
<!--                     <input id="city" name="name[city]" type="text" class="form-control" placeholder required="required">                     -->
                    <input id="city" name="email[city]" type="text" class="form-control" placeholder required="required">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="phone">Phone or Mobile</label>
<!--                     <input id="phone" name="email[phone]" type="text" class="form-control" placeholder required="required"> -->
<!--                     <input id="assignee" name="email[assignee]" type="hidden" value="1">                     -->
                    <input id="phone" name="email[phone]" type="text" class="form-control" placeholder required="required">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="fb">
                        Facebook Name or URL
                    </label>
<!--                     <input id="fb" name="email[fb]" type="text" class="form-control"> -->
                    <input id="fb" name="fb" type="text" class="form-control">
                </div>
            </div>
        </div>        
        <div class="form-group">        
            <label for="phone">
                Your Message
            </label>        
<!--             <textarea class="form-control" type="text" id="message" name="email[message]" class="form-control"></textarea> -->
            <textarea class="form-control" type="text" id="message" name="message" class="form-control"></textarea>
        </div>

        <div class="column is-12-desktop is-12-touch h">          
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAACa3Ug1vfEvSNut" data-theme="light"></div>
          <div class="checkbox mb-3"></div>      
        </div> 

        <button class="button is-primary btn-block" type="submit">
            Subscribe
        </button>
    </form>
</div>
